NODE_ENV=development
PORT=3333
DATABASE_URL="mysql://alvaraes:alvaraes123456@localhost:3306/alvaraes_moderna"
SHADOW_DATABASE_URL="mysql://root:root123456@localhost:3306/alvaraes_moderna_shadow"
FRONTEND_URL="http://localhost:5173"
JWT_SECRET="troque-este-segredo-em-producao"
